.bgSignUp{
    background-image: url(../images/signup.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.herosectionBg{
    background-image: url(../images/bannerBg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}